<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand title" href="#!" style="font-size: x-large; font-weight: bold;">Ime</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active" ><a class="nav-link" [routerLink]="['/view']">View content</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/update']">Update content</a></li>
                <li class="nav-item" ><a class="nav-link" [routerLink]="['/delete']">Delete content</a></li>
                <li class="nav-item" ><a class="nav-link" [routerLink]="['/createalbum']">Create album</a></li>
                <li class="nav-item" ><a class="nav-link" [routerLink]="['/deletealbum']">Delete album</a></li>
                <li class="nav-item" ><a class="nav-link" [routerLink]="['/share']">Share</a></li>
                <li class="nav-item" ><a class="nav-link" [routerLink]="['/download']">Download</a></li>
            </ul>
        </div>
    </div>
  </nav>