form {
    margin: 30px;
  }
  
  #bg {
    height: auto;
    background-size: cover;
    margin-top: 25px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #containter {
    position: relative;
    float: left;
    width: 50vw;
    height: 80vh;
    padding-top: 2%;
    background: rgba(255, 255, 255, 0.8);
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  #loginButton {
    color: white;
    background-color: #805d84;
    margin-top: 30px;
    border: 0;
    text-decoration: double;
  }
  
  #signUpButton {
    color: #805d84;
    background-color: white;
    margin-top: 10px;
    border: 0;
    text-decoration: double;
  }
  
  .noAccount {
    margin-top: 30px;
  }
  
  #login_title {
    text-align: center;
    padding: 40px;
  }
  
  #login_title h1 {
    font-size: 40px;
  }
  
  #login_title p {
    padding: 10px;
    font-size: 20px;
  }
  

  